/* MARK: Intor Animations */
.intro-contact .animated-text { 
   font-family: "VT323", sans-serif;
   overflow: hidden;
   font-size: 75px;
   line-height: 100px;
   font-weight: 400;
   min-width: 200px; 
   position: relative; 
   margin-top: 20px;
}

.intro-contact .animated-text span::before {
   content: "";
   color:var(--secondary-color);
   animation: intro-words 20s infinite;
}

.intro-contact .animated-text span::after {
   content: " ";
   position: absolute;
   width: calc(100% + 8px);
   height: 100%;
   background-color: var(--primary-color);
   border-left: 5px solid var(--text-tertiary);
   right: -8px;
   animation: intro-cursor .8s infinite, intro-typing 20s steps(14) infinite;
}

@keyframes intro-cursor {
   to {
       border-left: 5px solid var(--text-primary);
   }
}

@keyframes intro-words {
   0%, 20% {
       content: "{ _contact me! }";
   }
   21%, 40% {
       content: "{ _contact me! }";
   }
   41%, 60% {
       content: "{ _contact me! }";
   }
   61%, 80% {
       content: "{ _contact me! }";
   }
   81%, 100% {
       content: "{ _contact me! }";
   }
}

@keyframes intro-typing {
   10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95% {
       width: 0;
   }
   5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85% {
       width: calc(100% + 8px);
   }
}
/* MARK: Contact me Form */
.contact-me h1{ 
   font-family: "VT323", sans-serif;
   font-size: 65px;
   line-height: 52px;
}

.contact-me .contact-form{
   
   padding-left: 20px;
   padding-top: 20px;

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   
}

.contact-me .form-control { 
   padding: 10px 0;

   margin-bottom: 30px;
   border: none;
   
   border-bottom: 1px solid #fff;
   outline: none;
   transition: border 0.3s ease ;

   width :100%;
   max-width: 100%;
   box-sizing: border-box;
}

.contact-form input[type="text"],
.contact-form input[type="email"] {
   background: transparent;
   color: #fff;
   border: none;
   font-family: "monospace", sans-serif;
   font-size: 15px;
   outline: none;
   padding: 0;
   margin: 0;
   -webkit-appearance: none; /* Remove default styling in Safari and Chrome */
   -moz-appearance: none; /* Remove default styling in Firefox */
   appearance: none; /* Remove default styling in other browsers */
}

/* Remove autocomplete styling */
.contact-form input:autofill {
   box-shadow: 0 0 0 100px var(--primary-color) inset !important;
   -webkit-text-fill-color: #fff !important; 
   -webkit-font-family: "monospace" !important;
   font-family: "monospace" !important;
   -webkit-font-size: 16px !important;
   font-size : 16px;
}
.contact-form textarea{  
   background: transparent;
   color: #fff;
   border: none;
}

::placeholder {
   font-size: 20px;
   font-family: "VT323", sans-serif;

   color: var(--text-tertiary);
}

.contact-form input:focus {
   outline: none !important;
}

.contact-me textarea {
   height: 150px;
   width: 700px;
   font-family: "monospace", sans-serif;
   font-size: 15px;
   padding-left: 8px;
}

.contact-me .form-control:hover {
   border-bottom: 1px solid var(--text-tertiary);
}

/* MARK:My_info */
.my-info .flex{ 
   flex-direction: column;
   justify-content: center;
} 
.my-info .card-work h3 {
   font-size: 28px;
}

/* Specific class for email to handle longer text */
.email {
   white-space: normal;
   word-break: break-all; 
}

/* MARK: Media Queries */
@media(max-width:768px) {

   .grid,
   .my-info .grid{
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
   }

   .contact-me .contact-form {
      flex-direction: column; 
      display: flex;
      align-items: start;
      overflow: hidden;
   }
}

@media(max-width:500px) {

   .intro-contact .animated-text { 
      font-size: 40px;
      line-height: 45px;
      font-weight: 200;
      
      position: relative; 
   }

   .contact-me .contact-form{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
   }

   form input[type="text"],
   form input[type="email"],
   form textarea {
   width: 100%;
   font-size: 16px;
   /* padding-left:100px; */
   
   border: 1px solid #ccc;
   border-radius: 4px;
   
   box-sizing: border-box;
   margin-bottom: 10px;
   }

   ::placeholder {
      font-size: 20px;
      font-family: "VT323", sans-serif;
   
      color: var(--text-tertiary);
      text-indent: 1.5rem;
   }

   .contact-me textarea {
      width: 380px;
   }   


}